@import "primeicons/primeicons.css";

@layer tailwind-base, primevue,
  tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;

  @tailwind utilities;
}

@font-face {
  font-family: "PressStart2P";
  src: url("assets/fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: "VT323";
  src: url("assets/fonts/VT323-Regular.ttf");
}

body {
  cursor: url("assets/img/icons/cursor.png"), default;

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.2s ease-in-out;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .slide-in-left-enter-active,
  .slide-in-left-leave-active {
    transition: all 0.2s ease-in-out;
  }

  .slide-in-left-enter-from,
  .slide-in-left-leave-to {
    opacity: 0;
    transform: translateX(-5px);
  }

  .slide-in-top-enter-active,
  .slide-in-top-leave-active {
    transition: all 0.2s ease-in-out;
  }

  .slide-in-top-enter-from,
  .slide-in-top-leave-to {
    opacity: 0;
    transform: translateY(-5px);
  }

  .list-move,
  .list-enter-active,
  .list-leave-active {
    transition: all 0.2s ease-in-out;
  }

  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateY(-5px);
  }

  /* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
  .list-leave-active {
    position: absolute;
  }

  #app {
    &::before {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
      background-image: url("assets/img/bg/comic-bg.jpg");
      content: "";
    }
  }
}